.header__login-btn {
    border: 2px solid rgba(188, 156, 255);
    /* border-image: linear-gradient(rgba(188, 156, 255), rgba(139, 164, 249));
    border-image-slice: 1; */
    height: 34px;
    width: 87px;
    border-radius: 22px;
    background: transparent;
    color: #bc9cff;
    font-size: 12px;
    font-weight: bold;
    margin-right: 20px;
}